<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FormRedirector</servlet-name>
        <servlet-class>Servlets.FormRedirector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupRequestHandler</servlet-name>
        <servlet-class>Servlets.SignupRequestHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceFormHandler</servlet-name>
        <servlet-class>Servlets.ServiceFormHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupHandler</servlet-name>
        <servlet-class>Servlets.SignupHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormRedirector</servlet-name>
        <url-pattern>/FormRedirector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupRequestHandler</servlet-name>
        <url-pattern>/SignupRequestHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceFormHandler</servlet-name>
        <url-pattern>/ServiceFormHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupHandler</servlet-name>
        <url-pattern>/SignupHandler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
