/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Mar 5, 2023, 6:15:37 PM
    Author     : Muhammad
*/

body{
    font-family: Open Sans;
    color: black;
}
p{
    color: black;
    font-size: 18px;
}
h3{
    text-align: center;
    margin-bottom: 50px;
}
.heading{
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}
.subheading{
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight:lighter;
    text-decoration: underline;
}
.container{
    display: grid;
    grid-template-columns: 375px 375px;
    gap: 50px;
    width: 750px;
    margin: 0 auto;
    margin-top: 50px;
}
.left{
    background: url(./resources/home-repair.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 300px;
}
.right{
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    background: gray;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    color: white;
    text-decoration: none;
    padding: 2px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}
.btn:hover{
    transition: 0.7s;
    font-weight: bold;;
}
.menu_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.icon{
    background: url("./resources/logo-no-background.png");
    min-width: 200px;
    min-height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.content_bar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.content_bar a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 3px;
 }
.content_bar a:hover{
    font-weight: bold;
    box-shadow: 0px 2px 0px black; 
}
.dropdown_content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    background-color: lightgrey;
    padding: 2px;
    visibility: hidden;
}
.dropdown_info:hover a{
    visibility: visible;
    /* box-shadow: 0px 2px 0px black; */
}
.dropdown_content a{
    display: inline-block;
    background-color: lightgray;
    font-size: 14px;
}

.account{
    background: url(./resources/Sample_User_Icon.png);
    width:25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.services{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    column-gap: 80px;
    row-gap: 50px;
    width: 610px;
    margin: 0 auto;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 150px;
    height: 110px;
    border-radius: 10px;
    flex-direction: column;
}
.item:hover{
    box-shadow: 2px 2px 5px black;
    transition: 0.2s;
}

.item:nth-child(1) button{
    width: 100%;
    height: 90px;
    background: url(./resources/electric.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
}
.item:nth-child(2) button{
    width: 100%;
    height: 80px;
    background: url(./resources/furniture.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
}
.item:nth-child(3) button{
    width: 100%;
    height: 80px;
    background: url(./resources/plumbing.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
}
.item:nth-child(4) button{
    width: 100%;
    height: 80px;
    background: url(./resources/air-conditioner.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
}
.item:nth-child(5) button{
    width: 100%;
    height: 80px;
    background: url(./resources/heating.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
}
.item:nth-child(6) button{
    width: 100%;
    height: 80px;
    background: url(./resources/construction-material-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
}
.item:nth-child(7) button{
    width: 100%;
    height: 80px;
    background: url(./resources/toolbox-repairing-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
}
.item:nth-child(8) button{
    width: 100%;
    height: 80px;
    background: url(./resources/cleaning-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
}
.item:nth-child(9) a{
    width: 50%;
    height: 80px;
    background: url(./resources/3-horizontal-dots-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
}

.back{
    width: 75px;
    height: 30px;
    float: left;
    text-align:end;
    position: absolute;
}
.back a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    display: inline-block;
    background: url(./resources/back.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
label{
    height: auto;
    max-width: 135px;
}
.input_field{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 14px;
    font-family: Open Sans;
}
.input_field_options{
    width: 305px;
    height: 30px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 14px;
    font-family: Open Sans;
}
.input_field_time{
    width: 130px;
    height: 25px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 14px;
    font-family: Open Sans;
}
.form_container{
    margin: 0 auto;
    width: 930px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.innerformcontainer{
    width: 930px;
    display: grid;
    grid-template-columns: 450px 450px;
    column-gap: 30px;
    row-gap: 30px;
}
.formitem{
    display: flex;
    width: 450px;
    justify-content: space-between;
}
textarea{
    resize: none;
    width: 400px;
    height: 100px;
    color: black;
    font-size: 18px;
    font-family: Open Sans;
    border-radius: 5px;
    border-width: 1px;
    font-size: 14px;
}
.formtextarea label{
    vertical-align: top;
}
.formtextarea{
    width: 550px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.radio_btn{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}
.submit_btn{
    background: lightgray;
    border-radius: 10px;
    border-width: 2px;
    width: 150px;
    height: 30px;
    text-decoration: none;
    padding: 2px;
    text-align: center;
    align-self: center;
    margin-top: 30px;
    cursor: pointer;
    border-width: 1px;
    font-weight: bold;
    margin-bottom: 30px;
}
.accountavatar{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url(./resources/Sample_User_Icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.otherlogin{
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.otherserviceform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.email{
    background: url(./resources/211660_email_icon.png);
    background-size: contain;
    background-position:left;
    background-repeat: no-repeat;
    display: inline-block;
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 26px;
    border: 2px solid lightgrey;
}
.google{
    background: url(./resources/google-logo-9808.png);
    background-size: contain;
    background-position:left;
    background-repeat: no-repeat;
    display: inline-block;
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 26px;
    border: 2px solid lightgrey;
}
.facebook{
    background: url(./resources/facebook-color-icon.png);
    background-size: contain;
    background-position:left;
    background-repeat: no-repeat;
    display: inline-block;
    width: 300px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 26px;
    border: 2px solid lightgrey;
}
.desc_box{
    background-color: lightgrey;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1%;
}
.about_avatar{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url(./resources/company-info-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.privacy_policy_avatar{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url(./resources/privacy-document-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.other_contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}
.cust_srvc{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url(./resources/customer-service-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    gap: 20px;
    font-weight: bold;
}
.cont a{
    border-radius: 5px;
    display: inline-block;
    width: 240px;
    height: 30px;
    background-color: lightgray;
    text-align: center;
    color: black;
    text-decoration: none;
}
.servicesavatar{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url(./resources/repair-service-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.truckavatar{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url(./resources/warehousing-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.prevservices{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
th{
    background-color: black;
    color: white;
}
tr:nth-child(even){
    background-color: lightgray;
}
.err{
    color: red;
}
.popup_service_code{
    width: 500px;
    height: 280px;
    background-color: lightgrey;
    border-radius: 10px;
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.check{
    margin: 0 auto;
    width: 80px;
    height: 80px;
}
.code{
    text-decoration: underline;
    font-weight: bold;
}
.srvc_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.ok_btn{
    width: 100px;
    height: 25px;
    border-radius: 10px;
}
.prog_cont{
    margin: 0 auto;
    width: 900px;
    height: 400px;
    background-color: lightgrey;
    border-radius: 10px;
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;
}
.prog_bar{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    height: 10px;
    gap: 10px;
}
.bar{
    background-color: black;
    height: 10px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.subitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact{
    text-align: center;
}
.con{
    text-align: center;
    background-color: transparent;
    border: transparent;
    font-size: 17px;
    font-weight: bold;
}
#FBpopup{
    text-align: center;
}
@media only screen and (max-width:768px){
    .menu_bar{
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        width: 90%;
        }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 95%;
        gap: 10px;
    }
    .right{
        display: inline-block;
        text-align:center;
    }
    .btn{
        display: inline-block;
    }
    p{
        color: black;
        font-size: 14px;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 5px;
    }
    .heading{
        font-size: 24px;
    }
    .subheading{
        font-size: 18px;
    }
    .services{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        column-gap: 10px;
        row-gap: 30px;
        width: 320px;
        margin: 0 auto;
    }
    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        width: 100px;
        height: 110px;
        border-radius: 10px;
        flex-direction: column;
    }
    .item a {
        display: inline-block;
        text-decoration: none;
        color: black;
        text-align: center;
        line-height: 210px;
    }
    .item p{
        text-align: center;
        font-size: 12px;
    }

    .form_container{
        margin: 0 auto;
        width: 450px;
        display: flex;
        flex-direction: column;
    }
    .innerformcontainer{
        width: 450px;
        display: grid;
        grid-template-columns: 450px;
        column-gap: 30px;
        row-gap: 30px;
    }
    .formitem{
        display: flex;
        width: 450px;
        justify-content: space-between;
    }
    .formtextarea{
        width: 450px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    textarea{
        resize: none;
        width: 300px;
        height: 100px;
        color: black;
        font-size: 18px;
        font-family: Open Sans;
        border-radius: 5px;
        border-width: 1px;
        font-size: 14px;
    }
    .other_contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        gap: 10px;
    }
    table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        font-size: 14px;
    }
    tr{
        height: 30px;
    }

}
